Shield {
    position: absolute;
    left: 25px;
    bottom: 27px;
    width: 229px;
    height: 81px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px;

    .ShieldText {
        position: absolute;
        left: 112px;
        bottom: 5px;
        font-family: Poppins;
        font-size: 61px;
        color: yellow;
    }

    .ShieldTextName {
        position: absolute;
        left: 18px;
        bottom: 15px;
        font-family: Poppins;
        font-size: 16.5px;
        font-weight: 700;
        color: yellow;
    }
}

.Hidden {
    display: none;
}